@import "./common";
@import "footer";
@import "banner";
@import "mob-common";

.wrapper {
  &.about-banner {
    background-image: url("../images/team-banner.jpg");
    height: 279px;
  }
}
.about-wrapper {
  width: 1100px;
  margin: 68px auto 0;
  .center-title {
    border-top: 1px solid #999;
    text-align: center;
    height: 0;
    clear: both;
    margin: 60px auto 39px;
    h1 {
      display: inline-block;
      border: 1px solid #999;
      background-color: #fff;
      font-size: 18px;
      padding: 9px 63px;
      position: relative;
      top: -24px;
    }
  }
  .text {
    font-size: 16px;
    color: #666;
    line-height: 28px;
    p{
      text-indent: 2em;
      margin-bottom: 10px;
    }
    img {
      margin-top: 30px;
    }
  }
  .seven-img {
    margin-top: -16px;
  }
  .sale-img {
    clear: both;
    float: left;
    margin-bottom: 40px;
    margin-top: 24px;
    ul {
      li {
        float: left;
        width: 33.3%;
        text-align: center;
        dd {
          padding: 12px 0 29px;
          font-size: 16px;
          color: #666;
        }
      }
    }
  }

  //售前与售后
  .after-sales-content {
    width: 1100px;
    height: 292px;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    .after-sales-left {
      width: 636px;
      li {
        width: 278px;
        height: 38px;
        border: 1px solid #33a7d8;
        margin-right: 38px;
        margin-bottom: 30px;
        float: left;
        background-color: #fff;
        span {
          font-size: 16px;
          text-align: left;
          line-height: 38px;
          display: inline-block;
          color: #666666;
          padding-left: 8px;
        }
        a {
          width: 23px;
          height: 23px;
          display: inline-block;
          margin-left: 36px;
          vertical-align: middle;
        }
      }
      li:nth-child(1) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: 0 center;
      }
      li:nth-child(2) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -92px center;
      }
      li:nth-child(3) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -23px center;
      }
      li:nth-child(4) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -115px center;
      }
      li:nth-child(5) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -46px center;
      }
      li:nth-child(6) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -138px center;
      }
      li:nth-child(7) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -69px center;
      }
      li:nth-child(8) a{
        background: url("../images/icon-num.png") no-repeat;
        background-position: -161px center;
      }
    }
    .after-sales-right {
      width: 478px;
      height: 330px;
      position: absolute;
      top: -26px;
      right: 0;
      //overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
.map-con {
  background-color: #cee5ef;
  .map {
    height: 580px;
    background: url("../images/usa-map.jpg") no-repeat;
    position: relative;
    margin: 0 auto;
    width: 1100px;
    ul {
      li {
        position: absolute;
        text-align: center;
        font-weight: bold;
        left: 96px;
        top: 40px;
        width: 72px;
        height: 73px;
        cursor: pointer;
        /*background-color: rgba(0,0,0,0.5);
        transform: rotate(15deg);*/
        span {
          color: #fff;
          line-height: 73px;
          display: block;
          position: absolute;
          left: 20px;
          bottom: 20px;
          width: 100%;
          background: url("../images/about-map-icon.png") no-repeat;
          transform: scale(0.95);
          transition: all .3s ease-in-out;
          transform-origin: 100% 100%;
          /*transform: rotate(-15deg);*/
        }
        &:hover {
          span {
            transform: scale(1.2);
          }
        }
        &.jjs, &.lsj, &.xsd, &.mam, &.bsd {
          span {
            transform-origin: 0 100%;
            background-image: url("../images/about-map-reverse-icon.png");
          }
        }
        &.xyt {
          span {
            left: auto;
            right: 20px;
          }
        }
        &.jjs {
          left: 40px;
          top: 192px;
        }
        &.lsj {
          left: 94px;
          top: 282px;
        }
        &.dls {
          left: 467px;
          top: 358px;
          span {
            left: auto;
            right: 20px;
          }
        }
        &.xsd {
          left: 521px;
          top: 426px;
        }
        &.ald {
          left: 760px;
          top: 439px;
          span {
            left: auto;
            right: 20px;
          }
        }
        &.mam {
          left: 815px;
          top: 503px;
        }
        &.ny {
          left: 869px;
          top: 143px;
          span {
            left: auto;
            right: 20px;
          }
        }
        &.bsd {
          left: 919px;
          top: 94px;
        }
      }
    }
  }
}
p.map-text {
  padding-top: 15px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .wrapper-logo {
    padding-left: 20px;
  }
  .wrapper {
    width: 100%;
  }
  .about-wrapper {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-top: 50px;
    img {
      width: 100%;
      height: auto;
    }
    .center-title {
      margin-top: 35px;
    }
    .after-sales-content {
      width: 100%;
      .after-sales-left {
        li {
          margin-right: 5px;
        }
      }
      .after-sales-right {
        width: 415px;
        top: -10px;
      }
    }
    .sale-img ul li {
      width: 32.3%;
      margin-left: 1%;
    }
  }
  .map-con {
    .map {
      background-image: url("../images/usa-map-ipad.jpg?v=0904");
      background-size: 100%;
      width: 100%;
      height: 540px;
      ul {
        display: none;
      }
    }
  }
  .list-banner .search {
    display: none;
  }
  .wrapper.about-banner {
    width: 100%;
    height: 120px;
    background-size: 100% 100%;
  }
  .wrapper-nav-list li {
    margin-right: 10px;
  }

  footer {
    margin-top: 10px;
    ul {
      li {
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .about-wrapper {
    .after-sales-content {
      .after-sales-left {
        width: 100%;
        li {
          width: 48%;
          margin-right: 0;
          margin-left: 1%;
        }
      }
      .after-sales-right {
        display: none;
      }
    }
  }
  .map-con {
    .map {
      height: 405px;
    }
  }
}
@media screen and (max-width: 414px) {
  .about-wrapper {
    .after-sales-content {
      .after-sales-left {
        li {
          width: 100%;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
  .map-con {
    .map {
      height: 198px;
    }
  }
}