.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  @import "nav";
  //list page
  &.list-banner {
    background: url("../images/list/list-banner.jpg") 0 0 no-repeat;
    background-size: auto 100%;
    height: 280px;
    position: relative;
    .search {
      position: absolute;
      width: 1200px;
      bottom: 0;
      left: 50%;
      margin-left: -550px;
      form {
        width: 425px;
        height: 85px;
        background: rgba(0, 0, 0, .5);
        input {
          width: 374px;
          height: 40px;
          text-indent: 10px;
          border: 0;
          margin: 22px 0 0 24px;
          background: rgba(255, 255, 255, .8) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAB9ElEQVQ4jaXUy2+NQRjH8c9bLY1LaKuSWmgs0NB0JWFVxAKRuCQkEiws3Lb+FzsSERsWQsRChCZ2IjYVl2BxFGWj1EmpHM5YzJxmvD3knPht5pm8837nuU5hvjqxHiMYwgAW4jMqGMcTfIIQwjxAUdoPYD+2Y0mTCxt6jut4GJpQc+g6nMaGtP+GN/iIGpZjLVal7zO4hhshhHo5VFiNswkshXgLr1FFHd3owyj2pkiO4Qdul6Fd2JcB7+EypkpR1dIFb8XcnsEyHCqK4mUI4VXjYEeC7cg8vNQEmOsXHuBqsldiV1EUC3LoCBbjO27iyz+Aue7jabKHxSLPQTcmuyLmsFVV8SjZPRjMoY1qfhAr3o7eIWARVuTQrmTXxBy1o5rYlkVizUGnk90rTk476k3rT7Emc9BKsgfR3yZ0OK0zmMyh48nuFxu7VQ1hS7Ir4vT9AX0h5mVPi+A+HBdHdxZ3QggzOXRKfByqWCpOygFxWsrqEEM+J/Z3Q935oSJbD+KoWKw6nuFxCquWvNuEzWJf5prGxRDCWA5teLEbh8XRyxVKZ2ebePgVF0IIY+X3lPhA70zh9YiNXYhtU02e303AE2Jec/D5ZtCG1wNYk37qFPtwEhNiC8E2nCyBJ/4GbUejOJWB3/83NISgKIqtOCJGdOU3lm9+Rlxfi3sAAAAASUVORK5CYII=") 341px 50% no-repeat;
        }
        font-size: 16px;
        color: #666;
      }
    }
  }
}