@import "./common";
@import "footer";
@import "banner";
@import "swiper";
@import "mob-common";

@mixin bgColor($color:#fff) {
  background-color: $color;
}
@mixin bgImg($img) {
  background: url($img) no-repeat;
  background-position: right center;
  background-color: #ffffff;
  background-size:31px 55px ;
}
@mixin bgImg2($img) {
  background: url($img) no-repeat;
  background-color: #f5f5f5;
  background-size: 40px 75px;
  background-position: center bottom;
}
.wrapper.list-banner.college-banner{
  background: url("../images/college-header-banner.png") no-repeat center;
  height: 280px;
  background-size: cover;
}
.college-wrapper {
  width: 1100px;
  margin: 59px auto 0;
  /*overflow: hidden;*/
  .center-title {
    border-top: 1px solid #999;
    text-align: center;
    height: 0;
    h1 {
      display: inline-block;
      border: 1px solid #666;
      font-weight: normal;
      background-color: #fff;
      font-size: 18px;
      padding: 9px 63px;
      position: relative;
      top: -24px;
    }
  }
  .center-desc{
    text-align: center;
    margin-top: 50px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    color: #666666;
    b{
      font-size: 18px;
    }
  }
  .college-tab {
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    li{
      float: left;
      cursor: pointer;
      width: 90px;
      margin-right: 54px;
      dt{
        width:91px;
        height: 91px;
        border-radius: 45.5px;
        background: #33a7d8;
        box-sizing: border-box;
        display: table;
        text-align: center;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      dd{
        text-align: center;
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        color: #333333;
      }
    }
    li.active{
      dt{
        background: #ff9900;
      }
    }
    li:hover{
      dt{
        background: #ff9900;
      }
    }
    li:last-child{
      margin-right: 0px;
    }
  }
  .college-section{
    background: #ffffff;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    padding: 40px;
    box-sizing: border-box;
  }
  .college-shadow{
    box-shadow: -7px 8px 0px rgba(0,0,0,0.1);
  }
  .college-content{
    .college-section-LR{
      position: relative;
      .college-section-a-line{
        position: absolute;
        top: 50px;
        left: 49%;
        width: 23px;
        overflow: hidden;
      }
      .section-box{
        width: 430px;
        margin-bottom: 50px;
      }
      .section-LR-title{
        position: relative;
        width: 429px;
        height: 48px;
        box-shadow: -7px 8px 0px rgba(0,0,0,0.1);
        span{
          font-weight: bold;
          font-size: 16px;
          display: inline-block;
          /*max-width: 290px;*/
          height: 48px;
          line-height: 48px;
          vertical-align: middle;
        }
        @include bgColor(#0179b5);
        color: #ffffff;
        line-height: 48px;
        padding-left: 20px;
        box-sizing: border-box;
        font-size: 18px;
        .section-LR-number{
          margin-right: 10px;
          font-size: 28px;
          vertical-align: middle;
        }
        .section-LR-icon{
          position: absolute;
          width: 31px;
          height: 55px;
          right: -20px;
          top:0;
          @include bgImg("../images/LR-R-icon01.png");
        }
      }
      .section-LR-list{
        border: solid 1px #cccccc;
        width: 410px;
        height:auto;
        box-shadow: -7px 8px 0px rgba(0,0,0,0.1);
        padding:20px 20px 20px 30px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 28px;
        i{
          color: inherit;
        }
        span{
          color: #666666;
        }
      }
      .college-section-aL{
        float: left;
        width: 50%;
      }
      .college-section-aR{
        float: right;
        width: 50%;
      }
      .LR-R-01{
        float: left;
        width: 100%;
        color: #0179b5;
      }
      .LR-L-02{
        float: right;
        width: auto;
        color: #118dc1;
        .section-LR-title{
          @include bgColor(#118dc1);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-L-icon02.png");
          left: -31px;
        }

      }
      .LR-R-03{
        float: left;
        width: 100%;
        color: #33a7d8;
        .section-LR-title{
          @include bgColor(#33a7d8);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-R-icon03.png");
        }
      }
      .LR-L-04{
        float: right;
        width: auto;
        color: #11b4cc;
        .section-LR-title{
          @include bgColor(#11b4cc);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-L-icon04.png");
          left: -31px;
        }

      }
      .LR-R-05{
        float: left;
        width: 100%;
        color: #36b087;
        .section-LR-title{
          @include bgColor(#36b087);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-R-icon05.png");
        }
      }
      .LR-L-06{
        float: right;
        width: auto;
        color: #72a73e;
        .section-LR-title{
          @include bgColor(#72a73e);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-L-icon06.png");
          left: -31px;
        }

      }
      .LR-R-07{
        float: left;
        width: 100%;
        color: #86c114;
        .section-LR-title{
          @include bgColor(#86c114);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-R-icon07.png");
        }
      }
      .LR-L-08{
        float: right;
        width: auto;
        color: #d1ba20;
        .section-LR-title{
          @include bgColor(#d1ba20);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-L-icon08.png");
          left: -31px;
        }
      }
      .LR-R-09{
        float: left;
        width: 100%;
        color: #e39f35;
        .section-LR-title{
          @include bgColor(#e39f35);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-R-icon09.png");
        }
      }
      .LR-L-10{
        float: right;
        width: auto;
        color: #ff9900;
        .section-LR-title{
          @include bgColor(#ff9900);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-L-icon10.png");
          left: -31px;
        }
      }
      .LR-R-11{
        float: left;
        width: 100%;
        color: #ff6600;
        .section-LR-title{
          @include bgColor(#ff6600);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-R-icon11.png");
        }
      }
      .LR-L-12{
        float: right;
        width: auto;
        color: #cc3300;
        .section-LR-title{
          @include bgColor(#cc3300);
        }
        .section-LR-icon{
          @include bgImg("../images/LR-L-icon12.png");
          left: -31px;
        }
      }
    }
    .college-section-UD{
      background: none;
      position: relative;
      padding: 30px 0 30px 8px;
      margin: 0px;
      .college-section-c-content{
        width: 100%;
        display: block;
        overflow: hidden;
        img{
          width: 100%;
          display: inline-block;
        }
      }
      .college-section-c-line{
        position: absolute;
        top: 0;
        left: 475px;
        width: 55px;
        overflow: hidden;
        height: 800px;
        background: url('../images/line-mid-c.png') no-repeat center top;
        background-size: 55px;
      }
      .college-section-c-icon{
        position: absolute;
        top: 40px;
        right: 40px;
        width: 70px;
        overflow: hidden;
        height: 70px;
        background: url('../images/section3-icon.png') no-repeat center top;
        background-size: 70px;
      }
      .section-box{
        width: 100%;
        margin-bottom: 45px;
      }
      .section-UD-title{
        position: relative;
        border-radius: 10px 0 0 10px;
        width: inherit;
        height: 48px;
        box-shadow: -7px 8px 0px rgba(0,0,0,0.1);
        @include bgColor(#118dc1);
        color: #ffffff;
        line-height: 48px;
        padding-left: 25px;
        box-sizing: border-box;
        font-size: 18px;
        span{
          font-weight: bold;
          font-size: 18px;
          vertical-align: middle;
        }
        .skip-to-explain{
          color: inherit;
          text-decoration: underline;
          font-weight: normal;
        }
        .section-UD-number{
          font-size: 28px;
          margin-right: 10px;
          vertical-align: middle;
        }
        .section-UD-icon{
          position: absolute;
          width: 40px;
          height: 28px;
          left: 35px;
          top: 40px;
          @include bgImg2("../images/UD-D-icon01.png");

        }
      }
      .section-UD-bottom{
        p{
          text-indent: 2em;
        }
      }
      .section-UD-list{
        margin-top: 25px;
        background-color: #fff;
        border: none;
        width:inherit;
        height:auto;
        box-shadow: -7px 8px 0px rgba(0,0,0,0.1);
        padding:25px 30px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 28px;
        overflow: hidden;
        position: relative;
        &-img{
          float: left;
          overflow: hidden;
          width: 20%;
          img{
            width: 100%;
            display: inline-block;
          }
        }
        &-desc{
          color:#666;
          margin: 0;
          float: left;
          width: 80%;
          box-sizing: border-box;
          p{
            text-indent: 2em
          }
        }
        .desc-R{
          padding-left: 30px;
        }
        .desc-L{
          padding-right: 30px;
        }
        .list-content{
          float: left;
          font-size: 16px;
          color: #666666;
          width: 49%;
          .red{
            color:#993333;
          }
        }
        .section2-pic{
          width: 100%;
          display: inline-block;
          height: 80px;
        }
        .section2-pic01{
          background: url("../images/section2-pic01.png") no-repeat center bottom;
          background-size: 100%;
        }
        .section2-pic02{
          background: url("../images/section2-pic02.png") no-repeat center bottom;
          background-size: 100%;
          height: 200px;
        }
        .section2-pic03{
          background: url("../images/section2-pic03.png") no-repeat center bottom;
          background-size: 100%;
          height: 140px;
        }
        .section2-pic05{
          background: url("../images/section2-pic05.png") no-repeat center bottom;
          background-size: 100%;
          height: 350px;
        }
        .section2-pic06{
          background: url("../images/section2-pic06.png") no-repeat center bottom;
          background-size: 100%;
        }
        .list-L{
          border-right: #118dc1 solid 1px;
          padding-right: 20px;
          box-sizing: border-box;
        }
        .list-R{
          float: right;
        }
        i{
          color: inherit;
        }
        span{
          color: #666666;
        }
      }

      .UD-D-01{
        float: left;
        width: 100%;
        color: #0179b5;
      }
      .UD-D-02{
        float: right;
        width: auto;
        color: #33a7d8;
        .section-UD-title{
          @include bgColor(#33a7d8);
        }
        .section-UD-icon{
          @include bgImg2("../images/UD-D-icon02.png");

        }
        .list-L{
          border-right:#33a7d8 solid 1px;
        }

      }
      .UD-D-03{
        float: left;
        width: 100%;
        color: #36b087;
        .section-UD-title{
          @include bgColor(#36b087);
        }
        .section-UD-icon{
          @include bgImg2("../images/UD-D-icon03.png");
        }
        .list-L{
          border-right:#36b087 solid 1px;
        }
      }
      .UD-D-04{
        float: right;
        width: auto;
        color: #d1ba20;
        .section-UD-title{
          @include bgColor(#d1ba20);
        }
        .section-UD-icon{
          @include bgImg2("../images/UD-D-icon04.png");
        }
        .list-L{
          border-right:#d1ba20 solid 1px;
        }

      }
      .UD-D-05{
        float: left;
        width: 100%;
        color: #e39f35;
        .section-UD-title{
          @include bgColor(#e39f35);
        }
        .section-UD-icon{
          @include bgImg2("../images/UD-D-icon05.png");
        }
        .list-L{
          border-right:#ff6600 solid 1px;
        }
      }
      .UD-D-06{
        float: right;
        width: 100%;
        color: #ff9900;
        .section-UD-title{
          @include bgColor(#ff9900);
        }
        .section-UD-icon{
          @include bgImg2("../images/UD-D-icon06.png");
        }
        .list-L{
          border-right:#ff9900 solid 1px;
        }

      }
      .UD-D-07{
        float: left;
        width: 100%;
        color: #ff6600;
        .section-UD-title{
          @include bgColor(#ff6600);
        }
        .section-UD-icon{
          @include bgImg2("../images/UD-D-icon07.png");
        }
        .list-L{
          border-right:#ff6600 solid 1px;
        }
      }

    }
    .college-section-a{
      .college-section-a-line{
        height: 1610px;
        background: url("../images/line-mid.png") no-repeat center;
        background-size:23px 1610px ;
      }
      .college-section-aR{
        padding-top: 20px;
      }
      .LR-R-07,.LR-L-08{
        margin-top: 40px;
      }
      .LR-R-09,.LR-R-11,.LR-L-12{
        margin-top: 10px;
      }
      .LR-L-10{
        margin-top: 70px;
      }

    }
    .college-section-UD.college-section-c{

      .UD-D-01,.UD-D-06{
        .section-UD-list{
          padding: 41px 40px 20px;
        }
      }
      .UD-D-01 .section-UD-list{
        padding-top: 0;
      }
      .list-L{
        border: none;
        width: 455px;
        li{
          padding:10px 40px 20px;
          margin-bottom: 28px;
        }
      }
      h4{
        color: #666666;
        font-size: 18px;
        font-weight: normal;
        border-bottom: #bbbbbb solid 2px;
        display: inline-block;
        margin-bottom: 8px;
        b{
          font-size: 28px;
          font-weight: normal;
          padding-right: 10px;
          color: #33a7d8;
          font-style: italic;
        }
      }
      .list-R{
        padding-top: 90px;
        width: 452px;
        li{
          padding: 10px 35px 20px;
          margin-bottom: 48px;
        }
      }
      li{
        width:100%;
        padding: 20px ;
        margin-bottom: 20px;
        overflow: hidden;
        background: #f8f8f8;
        border: #33a7d8 solid 1px;
        box-sizing: border-box;
      }
      .desc-R{
      }
      .section3-list-bottom{
        padding-left: 30px;
        li{
          width: 43%;
          background: #ffffff;
          padding: 0 30px;
          line-height: 40px;
          display: inline-block;
          vertical-align: top;
          margin:0 20px 20px;
          height: 40px;
          overflow: hidden;
          box-sizing: border-box;
          border: #ff9900 solid 1px;
          .num{
            display: inline-block;
            width: 20px;
            height: 20px;
            border: solid #ff9900 1px;
            border-radius: 10px;
            box-sizing: border-box;
            color: #999999;
            margin-top: 10px;
            padding: 1px 0 0 1px;
            i{
              width: 16px;
              color: #ffffff;
              float: left;
              height: 16px;
              background: #ff9900;
              text-align: center;
              font-size: 14px;
              line-height: 16px;
              border-radius: 8px;
            }
          }
          .desc{
            display: inline-block;
            vertical-align: top;
            margin-left: 8px;
          }
        }
      }
    }
    .college-section-d{
      margin-top: 40px;
      .college-section-a-line{
        height: 642px;
        background: url("../images/line-mid-d.png") no-repeat center;
        background-size:23px 642px ;
      }
      .college-section-aR{
        padding-top: 60px;
      }
      .section-box{
        margin-bottom: 75px;
      }

    }
    .college-section-e{
      .section-UD-list-desc-ul{
        li{
          width: 100%;
          position: relative;
          .num{
            position: absolute;
            left: 2px;
            top: 5px;
            width: 20px;
            height: 20px;
            border: solid #ff9900 1px;
            border-radius: 10px;
            box-sizing: border-box;
            color: #999999;
            padding: 1px 0 0 1px;
            i{
              width: 16px;
              color: #ffffff;
              float: left;
              height: 16px;
              background: #ff9900;
              text-align: center;
              font-size: 14px;
              line-height: 16px;
              border-radius: 8px;
            }
          }
          .desc{
            padding-left: 30px;
            display: inline-block;
            vertical-align: top;
          }
        }

      }
      .section-UD-list-desc-ul.ul-red{
        li{
          .num{
            border: solid #ff9900 1px;
            i{
              background: #ff9900;
            }
          }
        }
      }
      .section-UD-list-desc-ul.ul-blue{
        li{
          .num{
            border: solid #33a7d8 1px;
            i{
              background: #33a7d8;
            }
          }
        }
      }
    }
    .college-section-f{
      margin-left: 10px ;
      position: relative;
      &-desc{
        text-indent: 2em;
        color: #666666;
        font-size: 16px;
        line-height: 28px;
        ul {
          li {
            vertical-align: middle;
          }
        }
        .icon{
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 11px;
          border: #33a7d8 solid 1px;
          margin-right: 10px;
          vertical-align: middle;
          i{
            width: 16px;
            height: 16px;
            border-radius: 8px;
            margin: 2px;
            float: left;
            text-indent: 0;
            color: #ffffff;
            background: #33a7d8;
            text-align: center;
            line-height: 17px;
            font-size: 12px;
          }
        }
      }
      &-erweima{
        width: 262px;
        height:235px;
        overflow: hidden;
        position: absolute;
        right: 50px;
        bottom:50px;
        img{
          display: inline-block;
          width: 100%;
        }
      }
    }
    .college-section-h{
      padding: 0px;
      margin-top: 30px;
      .section-UD-list{
        padding: 30px;
      }
      .UD-D-01{
        width: 518px;
        margin-right: 50px;
        .section-UD-list-desc{
          margin: 0;
          box-sizing: border-box;
          width: 100%;
          p{
            text-indent: 0px;
          }
          .section8-img{
            width: 100%;
            height: 100px;
            img{
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
      .UD-D-01:nth-child(2n){
        margin: 0;
      }
      .section-UD-title{
        border-radius:10px 0 0 10px ;
      }
      .section-UD-list{
        width: 518px;
        height: 592px;
      }
    }
  }
}
.none{
  display: none;
}

@media screen and (max-width: 1024px) {
  .wrapper-logo {
    padding-left: 20px;
  }
  .wrapper {
    width: 100%;
    &.list-banner {
      height: 100px;
    }
  }
  .college-wrapper {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
    .center-desc{
      padding:0 10px;
      box-sizing: border-box;
    }
    img {
      width: 100%;
      height: auto;
    }
    .college-tab{
      display: -webkit-flex; /* Safari */
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 1;
        width: 40px;
        margin: 5px 0 ;
        .college-tab-icon{
          width: 40px;
          height: 40px;
          padding-top: 5px;
        }
        img{
          width: 50%;
        }
        dt{
          margin: 0 auto;
        }
        dd{
          line-height: 17px;
          height:auto;
          width: auto;
          margin: 0 auto;
          font-size: 12px;
          white-space: nowrap;
          text-align: center;
          padding-top: 10px;

        }

      }
    }
    .college-content .college-section-LR .section-LR-title{
      width: 100%;
      i{
        display: none;
      }
    }
    .college-content .college-section-UD .college-section-c-line{
      display: none;
    }
    .college-content .college-section-LR .LR-L-04 {
      width: 100%;
    }
    .college-content .college-section-LR .LR-L-06 {
      width: 100%;
    }
    .college-content .college-section-LR .LR-L-08 {
      width: 100%;
    }
    .college-content .college-section-LR .LR-L-10 {
      width: 100%;
    }
    .college-content .college-section-LR .section-LR-list{
      width: 100%;
      padding: 10px;
    }
    .college-content .college-section-LR .college-section-aL{
      width: 48%;
    }
    .college-content .college-section-LR .college-section-aR{
      width: 48%;
    }
    .college-content .college-section-a .college-section-a-line{
      display: none;
    }
    .college-content .college-section-UD .section-UD-title{
      overflow: hidden;
      height: auto;
      line-height: 30px;
    }
    .college-content .college-section-UD .section-UD-title .section-UD-icon{
      display: none;
    }
    .college-content .college-section-UD.college-section-c .list-L{
      width: 49%;
      padding: 0;
      margin: 0;
      margin-right: 1%;
      li{
        padding: 5px;
      }
    }
    .college-content .college-section-h .UD-D-01 .section-UD-list-desc .section8-img{
      height: auto;
    }
    .college-content .college-section-LR .LR-L-02{
      width: 100%;
    }
    .college-content .college-section-LR .LR-L-12{
      width: 100%;
    }
    .college-content .college-section-UD.college-section-c .list-R{
      width: 50%;
      padding: 0;
      margin: 0;
      li{
        padding: 5px;
      }
    }
    .college-content .college-section-UD .section-UD-list-desc{
      width: 100%;
      margin: 0;
    }
    .college-content .college-section-UD.college-section-c .section3-list-bottom {
      padding: 0;
      li{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
        height: auto;
      }
    }
    .college-content .college-section-d .college-section-a-line{
      display: none;
    }
    .college-content .college-section-f-erweima{
      position: relative;
      right: 0px;
      bottom: 0px;
    }
    .college-content .college-section-h .UD-D-01{
      width: 100%;
    }
    .college-content .college-section-h .section-UD-list {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
    .college-content .college-section-h .UD-D-01:nth-child(2n){
      margin-left: 3%;
      margin-bottom: 40px;
    }
    .college-content .college-section-h .UD-D-01{
      width: 95%;
      margin-left: 3%;
      margin-bottom: 40px;
    }
  }
  .about-wrapper .map-con .map {
    background-size: cover;
    height: 200px;
  }
  .list-banner .search {
    display: none;
  }
  .wrapper.about-banner {
    width: 100%;
    height: 120px;
    background-size: 100% 100%;
  }
  footer {
    margin-top: 10px;
  }
}
