@import "./common";
@import "footer";
@import "banner";
@import "mob-common";

.wrapper {
  &.concat-banner {
    background-image: url("../images/concat-banner.jpg");
    height: 277px;
  }
  .qr {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -550px;
    height: 132px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    padding: 14px;
    dt {
      float: left;
      width: 105px;
      height: 105px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    dd {
      color: #fff;
      font-size: 14px;
      margin-left: 124px;
      line-height: 21px;
      padding-top: 10px;
    }
  }
}
.concat-wrapper {
  width: 1100px;
  margin: 68px auto 0;
  .center-title {
    border-top: 1px solid #999;
    text-align: center;
    height: 0;
    clear: both;
    margin: 71px auto 39px;
    h1 {
      display: inline-block;
      border: 1px solid #999;
      background-color: #fff;
      font-size: 18px;
      padding: 9px 63px;
      position: relative;
      top: -24px;
    }
  }
  .info {
    border: 1px solid #999;
    background-color: #fff;
    clear: both;
    overflow: hidden;
    position: relative;
    height: 409px;
    box-sizing: border-box;
    .left-col {
      float: left;
      width: 501px;
      margin: 23px 0 23px 23px;
    }
    .right-col {
      float: right;
      width: 498px;
      margin: 23px 23px 23px 0;
    }
    img {
      position: absolute;
      bottom: 23px;
    }
    .msg {
      li {
        line-height: 28px;
        color: #333;
      }
    }
  }
}
.team-wrapper {
  width: 1100px;
  margin: 0 auto;
  .center-title {
    border-top: 1px solid #999;
    text-align: center;
    height: 0;
    clear: both;
    margin: 71px auto 39px;
    h1 {
      display: inline-block;
      border: 1px solid #999;
      background-color: #fff;
      font-size: 18px;
      padding: 9px 63px;
      position: relative;
      top: -24px;
    }
  }
  .team-leader {
    overflow: hidden;
    margin-bottom: 31px;
    dt {
      float: left;
      border: 1px solid #999;
      width: 206px;
      height: 254px;
    }
    dd {
      float: right;
      height: 254px;
      width: 867px;
      border: 1px solid #999;
      background-color: #fff;
      box-sizing: border-box;
      padding: 26px 36px 0 32px;
      ul {
        li {
          line-height: 26px;
          padding-left: 18px;
          position: relative;
          font-size: 16px;
          margin-bottom: 5px;
          color: #666;
          &:before {
            content: '';
            display: block;
            width: 7px;
            height: 14px;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOCAYAAADjXQYbAAAAhElEQVQYlXXOIQoCURSF4W/G2ZGbMAgiWGwWg2WKRVdgsRgMBrPNIoLN4CZcySBjMT14PK43nv/+nFMNL+8dtoKrscH+H4Q1DqgiCC2O+UMOYYVTyksIS5wxaKIhWKCOTPjiHpk95riWsMcMN8jhB1M8UpA6O0xykMwOYzzL8gYjvKLJP+gaFQ4VpNgvAAAAAElFTkSuQmCC") 0 0 no-repeat;
            position: absolute;
            left: 0;
            top: 5px;
          }
          &.title {
            font-size: 18px;
            margin-bottom: 8px;
            &:before {
              visibility: hidden;
            }
            &.important {
              margin-bottom: 20px;
            }
          }
        }
        &.less-lineheight {
          li {
            line-height: 21px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  .wrapper-logo {
    padding-left: 20px;
  }
  .wrapper {
    width: 100%;
    &.concat-banner {
      height: 120px;
      background-size: 100% 100%;
    }
    .qr {
      display: none;
    }
  }
  .concat-wrapper {
    width: 100%;
    margin-top: 40px;
    .center-title {
      margin-top: 40px;
    }
    .info {
      height: auto;
      box-sizing: border-box;
      padding: 10px;
      .left-col {
        width: 54%;
        margin: 0;
        overflow: hidden;
        /*float: none;
        width: auto;
        margin: 0;*/
      }
      .right-col {
        width: 44%;
        margin: 0;
        overflow: hidden;
        img {
        }
        height: 100%;
        /*float: none;
        width: auto;
        margin: 0;*/
      }
      img {
        position: initial;
        max-width: 100%;
        margin: 10px auto;
      }
      .concat-wrapper .info .msg li {
        line-height: 28px;
        color: #333;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .team-wrapper {
    width: 100%;
    margin-top: 10px;
    .center-title {
      margin-top: 40px;
    }
    .team-leader {
      margin: 0 auto 20px;
      width: 94%;
      dt {
        width: 100%;
        box-sizing: border-box;
        float: none;
        text-align: center;
        background-color: #fff;
        overflow: hidden;
        margin-bottom: -1px;
      }
      dd {
        width: 100%;
        float: none;
        height: auto;
        padding-bottom: 30px;
      }
    }
  }
  footer {
    margin-top: 10px;
    ul {
      li {
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .concat-wrapper {
    .info {
      height: auto;
      box-sizing: border-box;
      padding: 10px;
      .left-col {
        float: none;
        width: auto;
        margin: 0;
      }
      .right-col {
        float: none;
        width: auto;
        margin: 0;
      }
    }
  }
}