footer {
  text-align: center;
  background-color: #333;
  padding: 43px 0 99px;
  margin-top: 120px;
  ul {
    li {
      display: inline-block;
      margin-right: 38px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #999;
      }
    }
  }
  p {
    color: #999;
    margin-top: 35px;
  }
}