@import "./common";
@import "footer";
@import "banner";

@mixin borderAndBg {
  border: 1px solid #999;
  background-color: #fff;
  color: #333;
}
//列表页wrapper
.list-wrapper {
  width: 1100px;
  margin: 50px auto 0;
  overflow: hidden;
  .search-condition {
    @include borderAndBg;
    height: 148px;
    margin-bottom: 20px;
    dl {
      margin: 11px 0 0 22px;
      clear: both;
      dt {
        float: left;
        width: 87px;
        padding-bottom: 7px;
      }
      dd {
        clear: right;
        width: 980px;
        padding-bottom: 7px;
        ul {
          li {
            display: inline-block;
            width: 128px;
            a {
              &.active {
                background-color: #f90;
                color: #fff;
                padding: 4px 10px;
              }
            }
          }
          &.price {
            li {
              width: auto;
              padding-right: 40px;
            }
          }
        }
      }
      &.order-by {
        border-top: 1px solid #ccc;
        margin-left: 0;
        margin-top: 5px;
        padding-left: 22px;
        padding-top: 5px;
        dd ul li {
          width: auto;
          margin-right: 55px;
          span {
            margin-right: 1px;
            display: inline-block;
            vertical-align: middle;
          }
          p.order {
            display: inline-block;
            vertical-align: middle;
            width: 13px;
            line-height: 0;
            text-align: center;
            i {
              display: inline-block;
              width: 13px;
              height: 7px;
              text-indent: -100px;
              overflow: hidden;
              cursor: pointer;
              margin-top: 1px;
              background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAdklEQVQYlYXNMQrCMBSA4U8RC1LxPIKCgyBCoUM7eQOPlBMIgqCD6GE8h7NLAiUE+y+P8PheJiEEhQ4444RvvpwWwBEPtHEuxlCDO6r43uOZwyFqccM8O7TDG3WOOlwLILXFC8uEelz+gNQm/ria4YP1CBhW/QDHzw8PAXieiwAAAABJRU5ErkJggg==") 50% 50% no-repeat;
              &.order-up {
                &.active {
                  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAd0lEQVQYlYXNMQrCQBBA0aeIAVE8jJWgIKm0kBSmygm8kicQxEIQSQ7hETyHtc0uhGUxvxuGNzNaXd4y7XFGg2+6HGfAAQ9UeGI2hI4BFGEu8UphH1W4Y5oc2qHDPEUn3DIgtkWLRUQ1rn9AbBM+Lif4YD0A+hU/fTAO29EzroMAAAAASUVORK5CYII=");
                }
              }
              &.order-down {
                &.active {
                  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAd0lEQVQYlYXNMQrCQBBA0aeIAVE8jJWgIKm0kBSmygm8kicQxEIQSQ7hETyHtc0uhGUxvxuGNzNaXd4y7XFGg2+6HGfAAQ9UeGI2hI4BFGEu8UphH1W4Y5oc2qHDPEUn3DIgtkWLRUQ1rn9AbBM+Lif4YD0A+hU/fTAO29EzroMAAAAASUVORK5CYII=");
                }
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
  .house-info {
    @include borderAndBg;
    margin-bottom: 30px;
    height: 365px;
    box-sizing: border-box;
    padding: 28px 20px 28px 22px;
    dt {
      width: 430px;
      height: 310px;
      background-position: 50% 50%;
      background-size: cover;
      float: left;
      a {
        text-indent: -999px;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    dd {
      margin-left: 462px;
      height: 310px;
      position: relative;
      h2 {
        color: #666;
        font-size: 18px;
        margin-bottom: 10px;
      }
      li {
        span {
          color: #333;
          &.category {
            width: 82px;
            font-weight: 700;
            float: left;
          }
          &.detail {
            display: block;
            margin-left: 82px;
            color: #666;
          }
        }
      }
      .price-all {
        position: absolute;
        bottom: 0;
        width: 100%;
        .price {
          color: #666;
          margin-bottom: 10px;
          .rmb {
            font-size: 22px;
            color: #f60;
          }
        }
        ul {
          position: absolute;
          bottom: 0;
          li {
            display: inline-block;
            margin-right: 10px;
            &.icon1 {
              &:before {
                display: inline-block;
                vertical-align: -3px;
                width: 24px;
                height: 21px;
                content: '';
                background: url("../images/list/list-icon2.png") 0 0 no-repeat;
              }
            }
          }
        }
        .read-more {
          float: right;
          margin-right: 30px;
          background-color: #39c;
          color: #fff;
          padding: 6px 30px;
        }
      }
    }
  }
}

