@import "common";
@import "footer";
@import "banner";
@import "mob-common";

@mixin borderAndBg {
  border: 1px solid #999;
  background-color: #fff;
  color: #333;
}
//列表页wrapper
.list-wrapper {
  width: 1100px;
  margin: 50px auto 0;
  overflow: hidden;
  @import 'search-condition';
  .house-info {
    @include borderAndBg;
    margin-bottom: 30px;
    height: 365px;
    box-sizing: border-box;
    padding: 28px 20px 28px 22px;
    dt {
      width: 430px;
      height: 310px;
      background-position: 50% 50%;
      background-size: cover;
      float: left;
      a {
        text-indent: -999px;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    dd {
      margin-left: 462px;
      height: 310px;
      position: relative;
      h2 {
        color: #666;
        font-size: 18px;
        margin-bottom: 10px;
      }
      li {
        margin-bottom: 4px;
        span {
          color: #333;
          &.category {
            width: 82px;
            font-weight: 700;
            float: left;
          }
          &.detail {
            display: block;
            margin-left: 82px;
            color: #666;
          }
        }
      }
      .price-all {
        position: absolute;
        bottom: 0;
        width: 100%;
        .price {
          color: #666;
          margin-bottom: 10px;
          .rmb {
            font-size: 24px;
            color: #f60;
            font-weight: bold;
            margin-right: 15px;
          }
          .dollar {
            font-size: 16px;
            font-weight: bold;
            color: #666;
          }
        }
        ul {
          position: absolute;
          bottom: 0;
          li {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            &.icon1 {
              text-decoration: underline;
              &:before {
                display: inline-block;
                vertical-align: -3px;
                width: 24px;
                height: 21px;
                content: '';
                background: url("../images/list-icon2.png") 0 0 no-repeat;
                margin-right: 3px;
              }
            }
            &.icon2 {
              text-decoration: underline;
              &:before {
                display: inline-block;
                vertical-align: -6px;
                width: 26px;
                height: 26px;
                content: '';
                background: url("../images/list-icon1.png") 0 0 no-repeat;
                margin-right: 3px;
              }
            }
          }
        }
        .read-more {
          float: right;
          margin-right: 30px;
          background-color: #39c;
          color: #fff;
          padding: 6px 30px;
        }
      }
    }
  }
  @import "page";
}

//计算器开始
.jsq-container {
  @import "sidebox";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  .jsq-con {
    width: 350px;
    position: absolute;
    left: 50%;
    top: 15%;
    margin-left: -146px;
    display: none;
    .count-form dl dd {
      width: 160px;
    }
    .selectbox {
      width: 100%;
    }
  }
  .calculator-box .calculator-title{
    position: relative;
    &:before{
      display: none;
    }
    i{
      position: absolute;
      top: 6px;
      left: 70px;
      width: 30px;
      height: 30px;
      background: url('../images/search-detail-icon.png') no-repeat;
      background-size: 1000px 200px;
    }
    i.icon05{
      background-position: -790px -14px;
    }
    i.icon06{
      background-position: -895px -14px;
    }

  }
  .calculator-box .count-form {
    dl dt {
      width: 80px;
      float: left;
    }
    dl dd {
      width: 220px;
    }
    dl dd.sum-have {
      width: 230px;
      input {
        width: 160px;
      }
    }
    dl dd.small {
      width: 162px;
      input {
        width: 100px;
      }
    }

    dl.count-btns {
      font-size: 0;
      dd button {
        font-size: 16px;
        &.submit {
          margin-right: 15px;
        }
      }
      /*width: 127px;*/
    }
    dl .sum-cash.small {
      width: 130px;
      input {
        width: 75px;
      }
    }
  }
  .selectbox-wrapper {
    width: 230px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
  }
}


@media screen and (max-width: 1024px) {
  .wrapper-logo {
    padding-left: 20px;
  }

  .wrapper {
    width: 100%;
    &.list-banner {
      height: 120px;
      background-size: 100% 100%;
    }
  }
  .search {
    display: none;
  }
  .list-wrapper {
    margin-top: 20px;
    width: 100%;
    .search-condition {
      height: 100%;
      dl {
        dt {
          float: none;
        }
        dd {
          ul {
            li {
              width: auto;
              a {
                display: block;
                padding: 5px 40px;
                &.active {
                  padding: 5px 40px;
                }
              }
            }
            &.price {
              li {
                padding-right: 0;
                a {
                  text-align: center;
                  &.active {
                    padding: 5px 20px;
                  }
                  padding: 5px 20px;
                }
              }
            }
          }
        }
        &.order-by dd ul li {
          margin-right: 35px;
        }
      }
    }
    .house-info {
      height: auto;
      dt {
        width: 100%;
        height: 400px;
        float: none;
      }
      dd {
        margin-left: 0;
        height: auto;
        padding-top: 20px;
        .price-all {
          position: unset;
          ul {
            position: unset;
            li {
              &.icon1 {
                margin-right: 25px;
              }
            }
          }
          .read-more {
            float: none;
            margin-top: 20px;
            display: block;
            padding: 6px 0;
            text-align: center;
            margin-right: 0;
          }
          .price {
            .rmb {
              margin-right: 30px;
            }
          }
        }
      }
    }

    .pagejump {
      white-space: unset;
      line-height: 3;
      margin-bottom: 40px;
    }
  }
  footer {
    margin-top: 10px;
    ul li {
      margin-right: 10px;
    }
  }
}
