@import "./common";
@import "footer";
@import "banner";
@import "swiper";
@import "mob-common";

.search-wrapper {
  width: 1100px;
  margin: 59px auto 0;
  /*overflow: hidden;*/
  .center-title {
    border-top: 1px solid #999;
    text-align: center;
    height: 0;
    h1 {
      display: inline-block;
      border: 1px solid #999;
      background-color: #fff;
      font-size: 18px;
      padding: 9px 63px;
      position: relative;
      top: -24px;
    }
  }
  .recommend-house {
    height: 318px;
    margin-top: 47px;
    overflow: hidden;
    position: relative;
    .swiper-slide {
      ul {
        li {
          float: left;
          width: 245px;
          height: 256px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          margin-right: 40px;
          background-color: #fff;
          &:last-child {
            margin-right: 0;
          }
          dl {
            dt {
              width: 100%;
              height: 184px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: cover;
            }
            dd {
              padding: 10px 0 0 16px;
              .title {
                font-size: 15px;
              }
              .price {
                font-size: 16px;
                span {
                  font-size: 18px;
                  color: #f60;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
    .swiper-pagination {
      bottom: 18px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: #ccc;
      opacity: 1;
      border: 2px solid #f5f5f5;
    }
    .swiper-pagination-bullet-active {
      background: transparent;
      border: 2px solid #f90;
    }
  }
  @import 'search-condition';
  .search-left-col {
    width: 750px;
    /*float: left;*/
    display: inline-block;
    .search-condition {
      &.search-page {
        height: auto;
        border-color: #d6d4d4;
      }
      .order-more {
        /*border-top: 1px solid #d6d4d4;
        margin-top: 5px;
        padding: 5px 0;*/
      }
      dl {
        dd {
          ul {
            li {
              width: auto;
              white-space: nowrap;
              a {
                padding: 4px 20px;
              }
            }
            &.price {
              li {
                padding-right: 0;
                a {
                  padding: 4px 10px;
                }
                /*padding-right: 10px;*/
              }
            }
          }
          //搜索框中的下拉列表

          .fd-selectbox {
            width: 136px;
            height: 31px;
            line-height: 31px;
            position: relative;
            border: #c7c8dc 1px solid;
            margin-top: -3px;
            margin-right: 10px;
            &:after {
              display: inline-block;
              position: absolute;
              right: 5px;
              top: 12px;
              width: 13px;
              height: 7px;
              cursor: pointer;
              content: '';
              background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAdklEQVQYlYXNMQrCMBSA4U8RC1LxPIKCgyBCoUM7eQOPlBMIgqCD6GE8h7NLAiUE+y+P8PheJiEEhQ4444RvvpwWwBEPtHEuxlCDO6r43uOZwyFqccM8O7TDG3WOOlwLILXFC8uEelz+gNQm/ria4YP1CBhW/QDHzw8PAXieiwAAAABJRU5ErkJggg==") 50% 50% no-repeat;
              transform: rotate(180deg);
            }
            input {
              border: 0;
              height: 100%;
              width: 100%;
              cursor: pointer;
              text-indent: 5px;
            }
            .h_selectbox-wrapper {
              width: 100%;
              margin-left: -1px;
            }
            ul {
              width: 100%;
              li {
                width: 100%;
                padding-right: 0;
                box-sizing: border-box;
                a {
                  display: block;
                  font-size: 16px;
                }
              }
            }
          }
        }
        &.no-selected {
          margin: 0;
          padding: 11px 0 2px 22px;
          border-bottom: 1px solid #d6d4d4;
        }
      }
    }
    .search-sort {
      width: 100%;
      clear: both;
      float: left;
      padding-bottom: 9px;
      section {
        float: left;
        text-indent: 23px;
        ul {
          display: inline-block;
          text-indent: 0;
          li {
            display: inline-block;
            text-indent: 0;
            background-color: #999;
            color: #fff;
            cursor: pointer;
            font-weight: 100;
            margin-right: 10px;
            a {
              color: #fff;
              padding: 3px 12px;
              display: block;
              width: 100%;
              height: 100%;
              &:after {
                content: '';
                display: inline-block;
                width: 9px;
                height: 9px;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAc0lEQVQYlW3PUQ3DMAxF0VAYhVIIllIIhVEYhVAohVIIhVEYhbOP2ZNV1ZLl6OXaz27oODHQSj5wYKTwwgdbgQ4stNq1UsSzNtXx3S9m1D3/KpS2wqrdQVtYrAD7HbTiyny/Y9c/NC/X5dSZ0LguGpn6+AKw5g1GkAFDrgAAAABJRU5ErkJggg==") 0 0 no-repeat;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .sort-item {
        float: right;
        li {
          display: inline-block;
          background-color: #fff;
          border: 1px solid #d6d4d4;
          font-size: 14px;
          padding: 3px 11px;
          cursor: pointer;
          margin-left: 10px;
          &:after {
            content: '';
            display: inline-block;
            width: 11px;
            height: 12px;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAxUlEQVQokYXRIU4DYRRF4W9aFAFD0i0g0CBwTbBVmFpM5ylkF8ESXjBY/KSyqgk7QLCBceBQJD9m0k6boRx57xH35VWlFH0i4hKJyMyPfjc6EK+xwRSbiLgZlCPiDmtMumiCdZfv5IiYY4Vz+5xh1fXGbds+4hknhhnjvmmar+rwwGOM/ld2VHVdL/GE6ohXsKxKKSLiwd+7f7DIzJft5oiY4RWnPfEb88xsYO/AiLhFgwt8YpaZb9vNA+++6iYtMvO93/0CiHBGlbx/K7oAAAAASUVORK5CYII=")  0 0 no-repeat;
            margin-left: 5px;
          }
          &.active {
            background-color: #f90;
            border-color: #f90;
            a {
              color: #fff;
            }
            &:after {
              background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAAiklEQVQokY3RIQ7CQBBG4YHDINAg0Fg8lgtUEc6H4jJNaiAVhLQfgkFsw5K+ZDLZ+Z/Y3QnEpFa4Zi+yqbhB60OLbU3e467kkfNCPuLpN8/MI9BgqIhfBjQLxFyWs82ULxExRoQ/NUbE+fvAE16V+74yL77ugH4i9jn/uZQduhS7PFc3GFjjlr3I3gSyYXFPt0zsAAAAAElFTkSuQmCC");
            }
          }
        }
      }
    }
    .house-list {
      width: 100%;
      border-top: 2px solid #34b5d0;
      clear: both;
      dl {
        padding: 25px 0;
        overflow: hidden;
        zoom: 1;
        background-image:url("../images/dashed.png");
        background-repeat:repeat-x ;
        background-position:bottom;
        &:hover {
          background-color: #fff;
        }
        dd {
          margin-left: 209px;
        }
        dt {
          float: left;
          width: 181px;
          height: 137px;
          margin-right: 28px;
          background-position: 50% 50%;
          background-size: cover;
          a {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: -999px;
            overflow: hidden;
          }
        }
      }

      .h-title {
        overflow: hidden;
        zoom: 1;
        color: #f60;
        font-size: 18px;
        font-weight: bold;
        .rmb {
          float: right;
          font-size: 20px;
        }
        a {
          display: block;
          width: 380px;
          color: #666;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          word-break: normal;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .h-city {
        overflow: hidden;
        zoom: 1;
        color: #666;
        font-size: 14px;
        .dollar {
          float: right;
          font-weight: bold;
        }
      }

      .city {
        margin: 15px 0;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        word-break: normal;
        i, span {
          display: block;
          float: left;
          color: #333;
        }
        span {
          max-width: 95%;
          white-space: normal;
        }
        i {
          width: 13px;
          height: 19px;
          margin-right: 13px;
          background: url("../images/icon.png") no-repeat -7px -158px;
        }
      }

      .h-info {
        li {
          float: left;
          width: 240px;
          margin: 8px 10px 0 0;
          font-size: 16px;
          color: #333;
          i, span {
            display: block;
            float: left;
          }
          span {
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          i {
            width: 20px;
            height: 15px;
            margin: 4px 5px 0 0;
            background: url("../images/icon.png") no-repeat;
            &.property {
              background-position: -4px -199px;
            }
            &.area {
              background-position: -57px -159px;
            }
            &.type {
              background-position: -4px -230px;
            }
            &.carport {
              background-position: -59px -188px;
            }
          }
        }
      }
    }
    @import "page";
  }
  .search-right-col {
    width: 300px;
    float: right;
    clear: right;
    box-sizing: border-box;
  }
  @import "sidebox";

}

@media screen and (max-width: 1024px) {
  .wrapper-logo {
    padding-left: 20px;
  }

  .wrapper {
    width: 100%;
    &.search-banner {
      height: 120px;
    }
    .search {
      display: none;
    }
  }
  .search-wrapper {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-top: 50px;
    /*img {
      width: 100%;
      height: auto;
    }*/
    .center-title {
      margin-top: 35px;
    }

    .recommend-house {
      height: 285px;
      .swiper-slide ul li {
        width: 21.5%;
        margin-right: 45px;
        dl dd {
          padding: 5px 0 0 5px;
          /*text-align: center;*/

          .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .swiper-pagination {
        bottom: -5px;
      }
    }
    .search-left-col {
      width: 100%;
      margin-top: 20px;

      .search-condition {
        height: 100%;
        dl {
          dt {
            float: none;
          }
          dd {
            ul {
              li {
                width: auto;
                a {
                  display: block;
                  padding: 5px 40px;
                  &.active {
                    padding: 5px 40px;
                  }
                }
              }
              &.price {
                li {
                  padding-right: 0;
                  a {
                    text-align: center;
                    &.active {
                      padding: 5px 20px;
                    }
                    padding: 5px 20px;
                  }
                }
              }
            }
          }
          &.order-by dd ul li {
            margin-right: 35px;
          }
        }
      }
      .search-sort section {
        float: none;
        text-indent: 0;
        ul li {
          margin-top: 10px;
        }
      }
      .search-sort .sort-item {
        float: none;
        margin-top: 10px;
      }
      .house-list {
        .h-info li {
          width: auto;
        }
        dl {
          color: #313538;
          dt {
            width: 100%;
            height: 350px;
            margin-bottom: 15px;
          }
          dd {
            float: none;
            margin-left: 0;
            .h-title {
              overflow: initial;
              a {
                width: auto;
                padding: 10px 0;
              }
            }
            .rmb, .dollar {
              float: none !important;
            }
          }
        }
      }
      .pagejump {
        white-space: initial;
        line-height: 3;
        margin: 20px auto;
      }
    }
    .search-right-col {
      width: 100%;
      .calculator-box-ask {
        .consult-form {
          input[type="text"], textarea {
            width: 97%;
          }
          input[type="submit"] {
            width: 100%;
            &:hover {
              background: #f60;
            }
          }
        }
      }
      .calculator-box {
        .count-form {
          dl.count-btns {
            dd {
              button {
                width: 46%;
              }
            }
          }
        }
      }
    }
    .selectbox-wrapper {
      width: 100%;
    }
    .calculator-box .count-form dl dd {
      width: 88%;
      &.slide-down, &.sum-have {
        width: 85%;
        .selectbox {
          width: 100%;
        }
      }
      &.sum-have {
        width: 86.4%;
        input {
          width: 86%;
        }
      }
      span.sum {
        width: 95%;
      }
    }
  }
  footer {
    margin-top: 10px;
    ul li {
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .search-wrapper .recommend-house .swiper-slide ul li {
    margin-right: 14px;
    width: 23.5%;
  }
}

@media screen and (max-width: 414px) {
  .search-wrapper {
    .recommend-house .swiper-slide ul li {
      margin-right: 0;
      width: 23%;
      margin-left: 6px;
      dl dd {
        p{
          font-size: 12px;
          &.price {
            font-size: 12px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
    .search-left-col .search-condition dl dd ul li {
      padding-right: 0;
      text-align: center;
      a {
        padding: 5px 10px;
        &.active {
          padding: 5px 10px;
        }
      }
    }
    .search-right-col {
      .calculator-box .count-form dl dd {
        width: auto;
        &.slide-down, &.sum-have {
          width: auto;
          .selectbox {
            width: 97%;
          }
        }
        &.sum-have {
          width: 185px;
          input {
            width: 120px;
          }
        }
        span.sum {
          width: 150px;
        }
      }
      .calculator-box-ask .consult-form {
        input[type="text"],textarea {
          width: 93%;
        }
      }
    }
  }
}