@import "./common";
@import "footer";
@import "banner";
@import "swiper";

.search-wrapper {
  width: 1100px;
  margin: 59px auto 0;
  /*overflow: hidden;*/
  .center-title {
    border-top: 1px solid #999;
    text-align: center;
    height: 0;
    h1 {
      display: inline-block;
      border: 1px solid #999;
      background-color: #fff;
      font-size: 18px;
      padding: 9px 63px;
      position: relative;
      top: -24px;
    }
  }
  .recommend-house {
    height: 318px;
    margin-top: 47px;
    overflow: hidden;
    position: relative;
    .swiper-slide {
      ul {
        li {
          float: left;
          width: 245px;
          height: 256px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          margin-right: 40px;
          &:last-child {
            margin-right: 0;
          }
          dl {
            dt {
              width: 100%;
              height: 184px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: auto 100%;
            }
            dd {
              padding: 10px 0 0 16px;
              .title {
                font-size: 15px;
              }
              .price {
                font-size: 16px;
                span {
                  font-size: 18px;
                  color: #f60;
                }
              }
            }
          }
        }
      }
    }
    .swiper-pagination {
      bottom: 18px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: #ccc;
      opacity: 1;
      border: 2px solid #f5f5f5;
    }
    .swiper-pagination-bullet-active {
      background: transparent;
      border: 2px solid #f90;
    }
  }
  @import 'search-condition';
  .search-left-col {
    width: 750px;
    /*float: left;*/
    display: inline-block;
    .search-condition {
      &.search-page {
        height: auto;
        border-color: #d6d4d4;
      }
      .order-more {
        /*border-top: 1px solid #d6d4d4;
        margin-top: 5px;
        padding: 5px 0;*/
      }
      dl {
        dd {
          ul {
            li {
              width: auto;
              white-space: nowrap;
              padding-right: 23px;
            }
            &.price {
              li {
                padding-right: 10px;
              }
            }
          }
          //搜索框中的下拉列表

          .fd-selectbox {
            width: 136px;
            height: 31px;
            line-height: 31px;
            position: relative;
            border: #c7c8dc 1px solid;
            margin-top: -3px;
            &:after {
              display: inline-block;
              position: absolute;
              right: 5px;
              top: 12px;
              width: 13px;
              height: 7px;
              cursor: pointer;
              content: '';
              background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAdklEQVQYlYXNMQrCMBSA4U8RC1LxPIKCgyBCoUM7eQOPlBMIgqCD6GE8h7NLAiUE+y+P8PheJiEEhQ4444RvvpwWwBEPtHEuxlCDO6r43uOZwyFqccM8O7TDG3WOOlwLILXFC8uEelz+gNQm/ria4YP1CBhW/QDHzw8PAXieiwAAAABJRU5ErkJggg==") 50% 50% no-repeat;
              transform: rotate(180deg);
            }
            input {
              border: 0;
              height: 100%;
              width: 100%;
              cursor: pointer;
              text-indent: 5px;
            }
            .h_selectbox-wrapper {
              width: 100%;
              margin-left: -1px;
            }
            ul {
              width: 100%;
              li {
                width: 100%;
                padding-right: 0;
                box-sizing: border-box;
                a {
                  display: block;
                  font-size: 16px;
                }
              }
            }
          }
        }
        &.no-selected {
          margin: 0;
          padding: 11px 0 2px 22px;
          border-bottom: 1px solid #d6d4d4;
        }
      }
    }
    .house-list {
      width: 100%;
      border-top: 2px solid #34b5d0;
      dl {
        padding: 25px 0;
        overflow: hidden;
        zoom: 1;
        background-image:url("../images/dashed.png");
        background-repeat:repeat-x ;
        background-position:bottom;
        &:hover {
          background-color: #fff;
        }
        dd {
          width: 512px;
          float: left;
        }
        dt {
          float: left;
          width: 160px;
          height: 120px;
          margin-right: 28px;
          background-position: 50% 50%;
          background-size: cover;
          a {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: -999px;
            overflow: hidden;
          }
        }
      }

      .h-title {
        overflow: hidden;
        zoom: 1;
        color: #f60;
        font-size: 18px;
        font-weight: bold;
        .rmb {
          float: right;
        }
        a {
          display: block;
          width: 380px;
          color: #666;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          word-break: normal;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .h-city {
        overflow: hidden;
        zoom: 1;
        color: #666;
        font-size: 14px;
        .dollar {
          float: right;
        }
      }

      .city {
        width: 600px;
        margin-top: 10px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        word-break: normal;
        i, span {
          display: block;
          float: left;
        }
        span {
          max-width: 95%;
          white-space: normal;
        }
        i {
          width: 13px;
          height: 19px;
          margin-right: 13px;
          background: url("../images/icon.png") no-repeat -7px -158px;
        }
      }

      .h-info {
        li {
          float: left;
          width: 230px;
          margin: 10px 10px 0 0;
          font-size: 14px;
          color: #333;
          i, span {
            display: block;
            float: left;
            max-width: 240px;
          }
          i {
            width: 20px;
            height: 15px;
            margin: 4px 5px 0 0;
            background: url("../images/icon.png") no-repeat;
            &.property {
              background-position: -4px -199px;
            }
            &.area {
              background-position: -57px -159px;
            }
            &.type {
              background-position: -4px -230px;
            }
            &.carport {
              background-position: -59px -188px;
            }
          }
        }
      }
    }
    @import "page";
  }
  .search-right-col {
    width: 300px;
    float: right;
    clear: right;
    box-sizing: border-box;
  }
  @import "sidebox";
}